@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-digirastin: "Digirastin", sans-serif;
  --font-vazir-bold: "VazirBold", sans-serif;
  --font-vazir: "Vazir", sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

.font-digirastin {
  font-family: var(--font-digirastin);
}

.font-vazir-bold {
  font-family: var(--font-vazir-bold);
}

.font-vazir {
  font-family: var(--font-vazir);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: digirastin;
}

.cut-right::before {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  border-top-width: 56px;
  /* Adjust this value */
  /* border-top-color: #FA4505; */
  /* Same color as background */
  border-right-width: 30px;
  /* Adjust this value */
  border-right-color: transparent;
}